apturl
brlapi
certifi
chardet
chrome-gnome-shell
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
html5lib
jeepney
jupyter
language-selector
launchpadlib
louis
lxml
macaroonbakery
matplotlib
more-itertools
netifaces
oauthlib
olefile
pip-chill
pycups
pygobject
pyjwt
pymacaroons
pynacl
pyrfc3339
python-apt
python-debian
pyxdg
pyyaml
reportlab
scour
secretstorage

systemd-python

ufw
unattended-upgrades
urllib3
virtualenv
wadllib
xdg
xkit
zipp